<%= form_for(@rubygem_version) do |f| %>
  <% if @rubygem_version.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rubygem_version.errors.count, "error") %> prohibited this rubygem_version from being saved:</h2>

      <ul>
      <% @rubygem_version.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </div>

  <%= f.fields_for :rubygem_files do |file_form| %>
    <div class="field">
      <%= file_form.label :file %><br />
      <%= file_form.file_field :file %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :published %><br />
    <%= f.check_box :published %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
