<p id="notice"><%= notice %></p>

<p>
  <b>Rubygem:</b>
  <%= @rubygem_version.rubygem %>
</p>

<p>
  <b>Version:</b>
  <%= @rubygem_version.version %>
</p>

<p>
  <b>Published:</b>
  <%= @rubygem_version.published %>
</p>

<%= link_to 'Edit', edit_rubygem_version_path(@rubygem_version) %> |
<%= link_to 'Back', rubygem_versions_path %>
