<!DOCTYPE html>
<html>
<head>
  <title>Pipegems</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless current_user %>
  <%= link_to 'Sign in with GitHub', user_omniauth_authorize_path(:github) %>
<% else %>
  <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
<% end %>

<h2><%= link_to_unless_current 'PipeGems', root_path %></h2>

<%= yield %>

</body>
</html>
